{% extends 'layout.twig' %}

{% block body %}
  {% verbatim %}
<h1>Телефонная книга</h1>

<div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th></th>
        </tr>
    </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    <tbody>

    </tbody>
</table>
  {% endverbatim %}
{% endblock %}
