<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">

    <script defer src="node_modules/vue/dist/vue.min.js"></script>
    <script defer src="script.js"></script>

    <title>Каталог</title>

</head>
<body>
<div class="container" id="app" v-cloak>
    <h1 class="title">Смартфоны</h1>

    <span>Отобразить товары: </span>
    <input type="radio" @change="uploadPhonesList" id="two" value=2 v-model="phonesCount">
    <label for="two">2</label>
    <input type="radio" @change="uploadPhonesList" id="three" value=3 v-model="phonesCount">
    <label for="three">3</label>
    <input type="radio" @change="uploadPhonesList" id="four" value=4 v-model="phonesCount">
    <label for="four">4</label>
    <input type="radio" @change="uploadPhonesList" id="five" value=5 v-model="phonesCount">
    <label for="five">5</label>
    <input type="radio" @change="uploadPhonesList" id="six" value=6 v-model="phonesCount">
    <label for="six">6</label>

    <table class="table" id="table">
        <thead>
        <tr>
            <th>
                <input type="checkbox" @change="showDistinctions" id="checkbox" v-model="checked">
                <label for="checkbox">Показать различия</label>
            </th>
            <th v-for="phone in uploadPhones" :key="phone.id">
                <img :src=phone.phoneImage alt="Изображение телефона"><br>
                {{phone.name}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ПРОИЗВОДИТЕЛЬ</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                {{phone.producer}}
            </td>
        </tr>
        <tr>
            <td>ГОД РЕЛИЗА</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                {{phone.releaseYear}}
            </td>
        </tr>
        <tr>
            <td>ДИАГОНАЛЬ ЭКРАНА (ДЮЙМ)</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                {{phone.diagonal}}
            </td>
        </tr>
        <tr>
            <td>СТРАНА-ПРОИЗВОДИТЕЛЬ</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                {{phone.producingCountry}}
            </td>
        </tr>
        <tr>
            <td>ОБЪЕМ ПАМЯТИ</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                {{phone.memorySize}}
            </td>
        </tr>
        <tr>
            <td>ЧАСТОТА ОБНОВЛЕНИЯ ЭКРАНА</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                {{phone.screenRefreshRate}}
            </td>
        </tr>
        <tr>
            <td>NFC</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                <img :src=phone.NFC alt="Наличие поддержки функции"></td>
        </tr>
        <tr>
            <td>ПОДДЕРЖКА ESIM</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                <img :src=phone.eSIM alt="Наличие поддержки функции"></td>
        </tr>
        <tr>
            <td>ПОДДЕРЖКА БЕСПРОВОДНОЙ ЗАРЯДКИ</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                <img :src=phone.wirelessCharging alt="Наличие поддержки функции"></td>
        </tr>
        <tr>
            <td>СТОИМОСТЬ</td>
            <td v-if="isEditing" v-for="phone in uploadPhones" :key="phone.id">
                {{phone.cost}} &#8381
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>