<!DOCTYPE html>
<html lang="ru" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script defer src="node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="node_modules/vue/dist/vue.min.js"></script>
    <script defer src="script.js"></script>

    <title>TotoList</title>
</head>
<body>
<div class="container bg-light border border-dark mt-2">
    <div v-cloak id="app">
        <todo-list></todo-list>
    </div>
</div>

<script id="todo-list-template" type="text/x-template">
    <div>
        <h1 class="mb-3">Список дел</h1>

        <form class="mb-4 needs-validation" novalidate ref="inputForm">
            <div class="form-row no-gutters">
                <div class="col mr-2">
                    <input v-model.trim="newTodoText"
                           class="form-control mb-2"
                           type="text"
                           aria-label="Введите текст"
                           placeholder="Введите текст"
                           required/>
                    <div class="invalid-feedback">
                        Введите текст.
                    </div>
                </div>

                <div class="col-auto">
                    <button @click="addNewTodoItem" type="button" class="btn btn-primary mb-2">Добавить</button>
                </div>
            </div>
        </form>

        <form class="mb-4 needs-validation" novalidate>
            <ul>
                <todo-list-item class="py-2"
                                v-for="(item, index) in items"
                                @delete-item="deleteItemConfirm"
                                @save-item="saveItem"
                                :item="item"
                                :index="index"
                                :key="item.id">
                                ref="items"
                </todo-list-item>

                <modal @ok="deleteItem" ref="confirmDeleteDialog">
                    <p>Вы действительно хотите удалить запись?</p>

                    <template v-slot:ok-button-text>
                        Удалить
                    </template>
                    <template v-slot:cancel-button>
                        Выход
                    </template>
                </modal>
            </ul>
        </form>
    </div>
</script>

<script id="todo-list-item-template" type="text/x-template">
    <li class="py-2">
        <template v-if="isEditing">
            <div class="d-inline-block">
                <div class="d-inline-block">
                    <input v-model.trim="editText"
                           class="form-control"
                           type="text"
                           aria-label="Введите текст"
                           placeholder="Введите текст"
                           required/>

                    <div class="invalid-feedback">
                        Введите текст
                    </div>
                </div>

                <button @click="saveItem" class="btn btn-success mx-2" type="button">Сохранить</button>
                <button @click="stopEditItem" class="btn btn-danger" type="button">Отмена</button>
            </div>
        </template>
        <template v-else>
            <span>{{ item.text }}</span>
            <button @click="startEditItem" class="btn btn-warning" type="button">Редактировать</button>
            <button @click="deleteItem" class="btn btn-danger" type="button">Удалить</button>
        </template>
    </li>
</script>

<script type="text/x-template" id="modal-template">
    <div ref="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <slot name="title"></slot>
                        Подтверждение удаления записи.
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <button @click="ok" type="button" class="btn btn-primary">
                        <slot name="ok-button-text"></slot>
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <slot name="cancel-button"></slot>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
</body>
</html>